<div class="container ">
  <div id="carouselExampleIndicators" class="down-under carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item cropDiv active">
        
            <img class="d-block w-100 crop" src={{latestNewsArray[0]?.imageUrl}} alt="First slide">
            <div class="carousel-caption d-none d-md-block">
              <h5 class="bg-dark">{{latestNewsArray[0]?.title}}</h5>
            </div>
          
      </div>
      <div class="carousel-item cropDiv">
        <div class="row">
          <div class="col">
            <img class="d-block w-100 crop" src={{latestNewsArray[1]?.imageUrl}} alt="First slide">
            <div class="carousel-caption d-none d-md-block">
              <h5 class="bg-dark">{{latestNewsArray[1]?.title}}</h5>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item cropDiv">
        <div class="row">
          <div class="col">
            <img class="d-block w-100 crop" src={{latestNewsArray[2]?.imageUrl}} alt="First slide">
            <div class="carousel-caption d-none d-md-block">
              <h5 class="bg-dark">{{latestNewsArray[2]?.title}}</h5>
            </div>
          </div>
        </div>
      </div>
      <!-- <div class="carousel-item cropDiv">
        <img class="d-block w-100 crop" src={{latestNewsArray[1]?.imageUrl}} alt="Second slide">
        <div class="carousel-caption d-none d-md-block">
          <h5 class="bg-dark">{{latestNewsArray[1]?.title}}</h5>
        </div>
      </div>
      <div class="carousel-item cropDiv">
        <img class="d-block w-100 crop" src={{latestNewsArray[2]?.imageUrl}} alt="Third slide">
        <div class="carousel-caption d-none d-md-block">
          <h5 class="bg-dark">{{latestNewsArray[2]?.title}}</h5>
        </div>
      </div> -->
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>
<hr>