<!-- <div class="container"> -->
<div class="row">
    <div class="col">
        <google-map [options]="options"></google-map>
    </div>

    <div class="col">
        <h3>About Us</h3>
        <p> XYZ News was found by Aragorn Elessar in 1900. It started as a small newspaper company in the heart of
            Manhattan soon to become one of the best newspaper company in the world. Since 1970, the company is listed
            on the New York Stock Exchange under the symbol XYZN.
        </p> <br>
        <b>Headquarters: </b> <br>
        Rivendell,
        West of the Misty Mountains,
        Middle Earth, NY, US
        <br>
        <b>Contact: </b> <br>
        +1 (123)-456-7890
        <br>
        <b>Fax: </b> <br>
        +1 (123)-456-7890
    </div>
</div>