<!-- 
<button class="btn btn-primary" id="chat-box-btn" (click)="openChatBox()">
    <i class="fas fa-comment-alt"></i>
    Chat Support
</button>

<div id="chat-box" class="container-fluid">

    <div class="card" style="bottom: 0; right: 100px; width: 300px; height: 400px;">
        <div class="card-body">
            <div class="row justify-content-center">
                <h4 class="card-title">Chat Window</h4>
                <button class="btn btn-danger float-right ml-4" (click)="closeChatBox()">x</button>
            </div>
            <hr>
            <div class="scrollChat" style="height: 180px;">
                <ul class="list-group" id="msgList">
-->
                    <!-- <li class="list-group-item">
                    <strong>{{currentMsg.username}}</strong>
                    <p>{{currentMsg.msgContent}}</p>
                    </li> -->
<!-- 
                </ul>
            </div>
            <hr>
            <form id="msgForm">
                <input type="text" id="msgBox" class="form-control" placeholder="Type Here..." name="msgContent"
                    [(ngModel)]="msgContent">
                <button class="btn btn-sm btn-primary mt-2 mb-2" (click)="sendNewMessage()">
                    Submit
                </button>
            </form> 
        </div>       
    </div>

</div>
 -->