#chat-box {
    display: none;
    bottom: 10px;
    z-index: 3;
    position: fixed;
}

#chat-box-btn {
    display: block;
    bottom:40px;
    position: fixed;
}

.scrollChat {
    overflow-y:scroll;
}