<h3 style="text-align: center;">Breaking News:</h3>
<div class="row justify-content-center border pt-4 pb-4">
    <div class="card-columns">
        <div class="card border-dark">
            <img class="card-img-top" src={{latestNewsArray[0]?.imageUrl}} alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">{{latestNewsArray[0]?.title}}</h5>
                <p>- {{latestNewsArray[0]?.description}}</p>
                <!-- <p>- {{latestNewsArray[0]?.articleUrl}}</p> -->
            </div>
        </div>
        <div class="card border-dark">
            <img class="card-img-top" src={{latestNewsArray[1]?.imageUrl}} alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">{{latestNewsArray[1]?.title}}</h5>
                <p>- {{latestNewsArray[1]?.description}}</p>
                <!-- <p>- {{latestNewsArray[1]?.articleUrl}}</p> -->
            </div>
        </div>
        <div class="card border-dark">
            <img class="card-img-top" src={{latestNewsArray[2]?.imageUrl}} alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">{{latestNewsArray[2]?.title}}</h5>
                <p>- {{latestNewsArray[2]?.description}}</p>
                <!-- <p>- {{latestNewsArray[2]?.articleUrl}}</p> -->
            </div>
        </div>
    </div>
</div>
<hr>